.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 1px;
    border: 1px solid black;
    width: 320px; /* Adjust as needed */
    margin: 0 auto; /* Center the grid */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.grid-item {
    width: 100%;
    padding-top: 100%; /* Maintain square aspect ratio */
    background-color: white;
    transition: background-color 0.2s; /* Smooth transition effect */
}

.grid-item.hovered {
    background-color: black; /* Change color on hover */
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 200px;
}
